<div class="container-fluid p-0" [ngStyle]="{'height':heightWindows+'px'}" >
    <div class="row" [ngStyle]="{'height':70+'px'}">
        <div class="col-12 p-0">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12">
                        <nav class="navbar navbar-light primary-bk shadow-title">
                            <a class="navbar-brand primary-bk">
                                        <i class="fas fa-chevron-left mr-2" style="font-size:1.4em;" (click)="backOrder()"></i> 
                                        <span class="navbar-title"> {{appDataService.labels['confirm.order.title']}}</span>
                            </a>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="sendedOrder">
        <div class="col-12">
            <div class="card m-2 shadow">
                <div class="alert alert-success m-0" role="alert">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-2 text-center">
                            <h3><i class="fas fa-clipboard-check"></i></h3>
                        </div>
                        <div class="col-10">
                            <h4>{{appDataService.labels['confirm.order.success.received.title']}}</h4>
                        <p class="m-0">{{appDataService.labels['confirm.order.success.received.msg']}}</p>
                        </div>
                    </div>
                    
              </div>
            </div>

        </div>
    </div>
    <div class="row m-1">
        <div class="col-12">
            <div class="btn-group btn-block" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light" [ngClass]="{'accent':deliveryService}" (click)="toggleDelivery()">
                    <i class="fas fa-biking"></i> <br>{{appDataService.labels['confirm.order.delivery.service']}}
                </button>
                <button type="button" class="btn btn-light" [ngClass]="{'accent':!deliveryService}" (click)="toggleDelivery()">
                    <i class="fas fa-walking"></i> <br>{{appDataService.labels['confirm.order.customer.pickup']}}
                </button>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="card m-2 shadow">
                <div class="card-body p-3">
                    
                    <div class="row mb-2" *ngIf="deliveryService">
                        <div class="col-12">
                            <button type="button" class="btn btn-lg btn-block accent-bk" (click)="searchAddress()">
                                <i class="fas fa-search-location"></i> {{appDataService.labels['delivery.address.search']}}
                            </button>
                        </div>
                    </div>
                    <div class="row mb-2" *ngIf="appDataService.fullOrder.address">
                        <div class="col-12">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i>*</span>
                                </div>
                                <textarea class="form-control text-center" [placeholder]="appDataService.labels['confirm.order.address']" [(ngModel)]="appDataService.fullOrder.address"></textarea> 
                              </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-mail-bulk"></i>*</span>
                              </div>
                            <input class="form-control text-center" type="email"  [placeholder]="appDataService.labels['confirm.order.email']" [(ngModel)]="appDataService.fullOrder.cc">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone-alt"></i>*</span>
                              </div>
                            <input class="form-control text-center" type="number"  [placeholder]="appDataService.labels['confirm.order.phonenumber']" [(ngModel)]="appDataService.fullOrder.phoneNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" *ngIf="validData">
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                <i class="far fa-times-circle"></i> {{appDataService.labels['admin.required.fields']}}
                              </div>
                        </div>
                    </div>
                    
                    <div class="row p-0 justify-content-center align-items-center">
                        <div class="col-2 p-1 text-center">
                            <h5 class="accent"><i class="fas fa-info-circle accent"></i></h5>
                        </div>
                        <div class="col-9 p-1">
                            <p style="font-size: 12px; margin:0px;">{{appDataService.labels['confirm.order.msg.tempdata']}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="card m-2 shadow">
                <div class="card-body p-3">
                    <h5 class="card-title tint"> {{appDataService.labels['confirm.order.bill']}}</h5>
                    <div class="row">
                        <div class="col-8">
                            {{appDataService.labels['confirm.order.items']}} {{appDataService.fullOrder.order.length}} {{appDataService.labels['confirm.order.items.type']}}
                        </div>
                        <div class="col-4 text-right">
                            {{appDataService.fullOrder.totalAmount | currency:'Kč '}}
                        </div>
                    </div>
                    <div class="row" *ngIf="deliveryService">
                        <div class="col-7">
                            {{appDataService.labels['confirm.order.delivery']}} ({{appDataService.fullOrder.deliveryDistance}} km)
                        </div>
                        <div class="col-5 text-right">
                            {{appDataService.fullOrder.deliveryAmount | currency:'Kč '}}
                        </div>
                    </div>
                    <div class="row" *ngIf="!deliveryService">
                        <div class="col-7">
                            {{appDataService.labels['confirm.order.delivery']}} (0 km)
                        </div>
                        <div class="col-5 text-right">
                            {{0 | currency:'Kč '}}
                        </div>
                    </div>
                    <hr>
                    <div class="row " >
                        <div class="col-7" >
                            <h5 class="tint">{{appDataService.labels['order.totalamount']}}</h5>
                        </div>
                        <div class="col-5 text-right" *ngIf="deliveryService">
                            <h5 class="tint">{{appDataService.fullOrder.totalAmount + appDataService.fullOrder.deliveryAmount | currency:'Kč '}}</h5>
                        </div>
                        <div class="col-5 text-right" *ngIf="!deliveryService">
                            <h5 class="tint">{{appDataService.fullOrder.totalAmount | currency:'Kč '}}</h5>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-2 p-1 text-center">
                            <h5 class="accent"><i class="fas fa-info-circle"></i></h5>
                        </div>
                        <div class="col-9 p-1">
                            <p style="font-size: 12px;">{{appDataService.labels['confirm.order.onlycash']}}</p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-lg btn-block secondary-bk shadow" (click)="sendOrder()"
                            *ngIf="!sendedOrder">
                            <i class="fas fa-paper-plane"></i>  {{appDataService.labels['confirm.order.agreensend']}}
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
   
    
</div>

<!--div class="bottom-btn">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" [ngStyle]="{'height':80+'px'}">
            <div class="col-12 text-center">
             <button type="button" class="btn btn-lg btn-block accent-bk shadow" (click)="sendOrder()"
             *ngIf="!sendedOrder">
                 {{appDataService.labels['confirm.order.agreensend']}}
             </button>
            </div>
        </div>
    </div>
</div-->