<div class="container-fluid shadow" style="max-height: 300px; overflow: auto;" [ngClass]="{'address-container':addressList != undefined}">

    <div class="row" >
        <div class="col-12 pt-2" *ngIf="addressList != undefined">
            <h6 class="accent" >{{appDataService.labels['delivery.address.list.selectone']}}</h6>
        </div>
    </div>
    <div class="row pl-1 pb-3 pr-1" *ngFor="let address of addressList" (click)="selectAddress(address)">
        <div class="col-10 text-left">
            {{address.formatted_address}}
        </div>
        <div class="col-2">
            <i class="fas fa-map-marker-alt accent"></i>
        </div>
    </div>
</div>
