<div class="container-fluid p-0" [ngStyle]="{'height':heightWindows+'px'}" >
    <div class="row" [ngStyle]="{'height':70+'px'}">
        <div class="col-12 p-0">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12">
                        <nav class="navbar navbar-light primary-bk shadow-title">
                            <a class="navbar-brand primary-bk">
                                        <i class="fas fa-chevron-left mr-2" style="font-size:1.4em;" (click)="backOrder()" #backOrderButton></i> 
                                        <span class="navbar-title"> {{appDataService.labels['delivery.title']}}</span>
                            </a>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="position: relative;">

            <div class="address-list-container">
                
            </div>

            
            <div class="container-fluid p-1" style="position: absolute; top:0; left:5%; z-index: 9999; max-width: 90%;">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <textarea [(ngModel)]="search" class="form-control" [placeholder]="appDataService.labels['delivery.instructions']"></textarea>
                            <div class="input-group-append">
                                <button type="button" class="input-group-text btn btn-block accent-bk" style="font-size: 0.9em;" (click)="searchAddressByLine(search)" [disabled]="!search">
                                    <i class="fas fa-search-location"></i> {{appDataService.labels['delivery.address.search.button']}}</button>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 text-center">
                        <app-addresses [addressList]="addreses" [origenLat]="latitude" [origenLong]="longitude" [fosilLat]="fosilLatitude" [fosilLong]="fosilLongitude"></app-addresses>
                    </div>
                </div>
            </div>
            <!-- app.component.html -->
            <agm-map 
            [latitude]="fosilLatitude" 
            [longitude]="fosilLongitude" 
            [zoom]="zoom" 
            (mapClick)="mapClicked($event)"
            [ngStyle]="{'height':heightWindows-70+'px'}" style="z-index: 9;">
                <agm-marker 
                [latitude]="fosilLatitude" 
                [longitude]="fosilLongitude"></agm-marker>

                <agm-marker *ngFor="let mark of markers"
                [latitude]="mark.lat" 
                [longitude]="mark.lng"></agm-marker>

            </agm-map>
        </div>
    </div>
</div>