<div class="sidenav shadow-title" [ngStyle]="{'width':appDataService.sideMenuWidth+'px'}">
    <a class="closebtn" (click)="toggleMenu()">
        <i class="fas fa-times"></i>
    </a>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <img src="../../../assets/imgs/LogoPNG.png" alt="logo-fosil" style="width: 100%;">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 p-0 primary-bk text-center">
                <h5>{{appDataService.labels['store.tagline']}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="container-fluid p-4 pr-5">
                    <div class="row mb-2">
                        <div class="col-12">
                            <span class="label">{{appDataService.labels['sidemenu.lang.label']}} </span>
                            <div class="dropdown">
                                <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <h5 *ngIf="lang == 'cs-CZ'"><img src="../../../assets/imgs/czech-flag.svg" style="width: 40px;">   Czech</h5>
                                  <h5 *ngIf="lang == 'en-US'"><img src="../../../assets/imgs/us-flag.svg" style="width: 40px;">   English</h5>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" (click)="changeLang('cs-CZ')" >
                                    <img src="../../../assets/imgs/czech-flag.svg" style="width: 40px;">  
                                    Czech</a>
                                  <a class="dropdown-item" (click)="changeLang('en-US')" >
                                    <img src="../../../assets/imgs/us-flag.svg" style="width: 40px;">  
                                    English</a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="label">{{appDataService.labels['sidemenu.currency.label']}} </span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-2">
                            <h3>{{appDataService.labels['settings.currency.cz']}}</h3>
                        </div>
                        <div class="col-10">
                            <h4>{{appDataService.labels['settings.currency.cz.name']}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="label">{{appDataService.labels['sidemenu.contact.label']}} </span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-2 text-center">
                            <i class="fas fa-phone icon"></i>
                        </div>
                        <div class="col-10">
                            <h5>{{appDataService.labels['store.phonenumber']}}</h5>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-2 text-center">
                            <i class="fas fa-map-marker-alt icon"></i>
                        </div>
                        <div class="col-10">
                            <h5>{{appDataService.labels['store.address']}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>