<div class="container-fluid p-0" [ngStyle]="{'height':heightWindows+'px'}" >
    <div class="row" [ngStyle]="{'height':120+'px'}">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12 p-0">
                        <nav class="navbar navbar-light primary-bk shadow-title">
                            <span class="navbar-brand primary-bk">
                                        <i class="fas fa-bars mr-2" style="font-size:1.4em;" (click)="toggleMenu()"></i> <span class="navbar-title"> {{appDataService.labels['order.makemyburrito']}}</span>
                            </span>
                            <i class="fas fa-times" style="font-size:1.4em;" (click)="cancelSelect()" ></i>
                          </nav>
                    </div>
                </div>
                <div class="row secondary-bk">
                    <div class="col-6">
                        <h5 class="p-2 pt-3" style="font-weight: bold;">{{appDataService.labels['order.totalamount']}}</h5>
                    </div>
                    <div class="col-6 text-right">
                        <h5 class="p-2 pt-3"  style="font-weight: bold;">{{totalAmount | currency:'Kč'}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-3 accent text-center">
            <h5>{{appDataService.labels['menu.ingredients.select']}}</h5>
        </div>
    </div>
    <!-- Ingredientes-->
   <div class="row mb-5 ingredient-container" [ngStyle]="{'height':heightWindows-240+'px'}">
       <div class="col-12">
        <div class="container-fluid">
            <div class="row" *ngFor="let group of groups" >
                <div class="col-12 mb-2">
                    <h4 class="tint">{{appDataService.labels[group.label]}}</h4>
                    <div class="container-fluid p-0">
                        <div class="row" *ngFor="let ingredient of group.ingredients">
                            <div class="col-12 mb-2" *ngIf="ingredient.visible">
                                <div class="card shadow" (click)="toggleIngredient(ingredient)" >
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                {{appDataService.labels[ingredient.label]}}
                                            </div>
                                            <div class="col-4 text-right">
                                                <i class="fas fa-check-circle selected-ing" *ngIf="ingredient.check"></i>
                                                <span *ngIf="!ingredient.check">
                                                    {{ingredient.amount| currency:'Kč'}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
   </div>
</div>
 <!-- Footer-->
<div class="bottom-btn">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" [ngStyle]="{'height':80+'px'}">
            <div class="col-12 text-center">
             <button type="button" class="btn btn-lg btn-block accent-bk shadow" (click)="addBurritoToOrder()">
                <i class="fas fa-cart-plus"></i> {{appDataService.labels['order.additem']}}
             </button>
            </div>
        </div>
    </div>
</div>

<app-side-menu></app-side-menu>