<div class="container-fluid p-0" [ngStyle]="{'height':heightWindows+'px'}" >
    <div class="row" [ngStyle]="{'height':120+'px'}">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12 p-0">
                        <nav class="navbar navbar-light primary-bk shadow-title">
                            <span class="navbar-brand primary-bk">
                                        <i class="fas fa-bars mr-2" style="font-size:1.4em;" (click)="toggleMenu()"></i> <span class="navbar-title"> {{appDataService.labels['order.myorder']}}</span>
                            </span>
                            <i class="fas fa-trash" style="font-size:1.4em;"  data-toggle="modal" data-target="#cancelOrderModal"></i>
                          </nav>
                    </div>
                </div>
                <div class="row secondary-bk">
                    <div class="col-6">
                        <h5 class="p-2 pt-3" style="font-weight: bold;">{{appDataService.labels['order.totalamount']}} ({{appDataService.fullOrder.order.length}})</h5>
                    </div>
                    <div class="col-6 text-right">
                        <h5  class="p-2 pt-3" style="font-weight: bold;">{{appDataService.fullOrder.totalAmount | currency:'Kč '}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Order list-->
    <div class="row ingredient-container" [ngStyle]="{'height':heightWindows-200+'px'}">
        <div class="col-12">
            <div class="container-fluid m">
                <div class="row align-items-center" [ngStyle]="{'height':heightWindows-180+'px'}" *ngIf="appDataService.fullOrder.order.length == 0">
                    <div class="col-12 text-center" >
                        <h3>{{appDataService.labels['order.emptylist']}}</h3>
                    </div>
                </div>
                <div class="row align-items-center pb-2" *ngFor="let order of appDataService.fullOrder.order; let idx = index"
                style="border-bottom: solid 1px #ddd; background-color: #fff;">
                  
                            <div class="col-2 p-1 text-center">
                                <button type="button" class="btn btn-lg" (click)="removeItem(idx)">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </div>
                            <div class="col-7 p-1">
                                <h5 style="margin: 0px;">Burrita</h5>
                                <span class="label"  *ngFor="let ing of order.contents">{{appDataService.labels[ing.label]}}, </span>
                            </div>
                            <div class="col-3 text-center p-1">
                                <h5>{{order.amount | currency:'Kč '}}</h5>

                            </div>
                </div>
            </div>
        </div>
    </div>
  
   <!-- Footer-->
   
</div>

<div class="bottom-btn">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" [ngStyle]="{'height':80+'px'}">
            <div class="col-7 text-center p-2">
                <button type="button" class="btn btn-lg btn-block accent-bk shadow" (click)="newItem()">
                    <i class="fas fa-plus"  style="font-size:1.0em;"></i> {{appDataService.labels['order.makenew']}}
                </button>
            </div>
            <div class="col-5 text-center p-2">
                <button type="button" class="btn btn-lg btn-block secondary-bk shadow" (click)="confirmOrder()" [disabled]="appDataService.fullOrder.order.length === 0">
                    <i class="fas fa-shopping-cart"  style="font-size:1.0em;"></i> {{appDataService.labels['order.pay']}} <span *ngIf="appDataService.fullOrder.order.length>0" class="badge badge-light secondary">{{appDataService.fullOrder.order.length}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<app-side-menu></app-side-menu>
<!--div class="sidenav" [ngStyle]="{'width':sideMenuWidth+'px'}">
    <a class="closebtn" (click)="toggleMenu()">
        <i class="fas fa-times"></i>
    </a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img src="../../../assets/imgs/LogoPNG.png" alt="logo-fosil" style="width: 100%;">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 p-0 primary-bk text-center">
                <h5>{{appDataService.labels['store.tagline']}}</h5>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <span class="label">{{appDataService.labels['sidemenu.lang.label']}} </span>
                <div class="dropdown">
                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <h5 *ngIf="lang == 'cs-CZ'"><img src="../../../assets/imgs/czech-flag.svg" style="width: 40px;">   Czech</h5>
                      <h5 *ngIf="lang == 'en-US'"><img src="../../../assets/imgs/us-flag.svg" style="width: 40px;">   English</h5>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" (click)="changeLang('cs-CZ')" >
                        <img src="../../../assets/imgs/czech-flag.svg" style="width: 40px;">  
                        Czech</a>
                      <a class="dropdown-item" (click)="changeLang('en-US')" >
                        <img src="../../../assets/imgs/us-flag.svg" style="width: 40px;">  
                        English</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="label">{{appDataService.labels['sidemenu.currency.label']}} </span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <h3>{{appDataService.labels['settings.currency.cz']}}</h3>
            </div>
            <div class="col-9">
                <h4>{{appDataService.labels['settings.currency.cz.name']}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="label">{{appDataService.labels['sidemenu.contact.label']}} </span>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-2">
                <i class="fas fa-phone"></i>
            </div>
            <div class="col-10">
                <h5>{{appDataService.labels['store.phonenumber']}}</h5>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-2">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col-10">
                <h5>{{appDataService.labels['store.address']}}</h5>
            </div>
        </div>
    </div>
</div-->

<!-- Modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-body p-2 pt-4">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                      <h5 class="primary">{{appDataService.labels['orden.cancel.confirm.label']}}</h5>
                  </div>
              </div>
              <div class="row">
                  <div class="col-7 p-2">
                    <button type="button" class="btn btn-block accent-bk shadow" (click)="cancelOrder()" data-dismiss="modal">
                        {{appDataService.labels['admin.order.detail.cancel.confirm']}}
                    </button>
                  </div>
                  <div class="col-5 p-2">
                    <button type="button" class="btn btn-block btn-light shadow" data-dismiss="modal">
                        {{appDataService.labels['admin.order.detail.cancel.no']}} 
                    </button>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>