/* You can add global styles to this file, and also import other style files */
.myheader-simple{
    height: 10% !important;
}

.myheader{
    height: 16% !important;
}

.mycontent-simple{
    height: 75% !important;
}

.mycontent{
    height: 72% !important;
}

.myfooter-simple{
    height: 5% !important;
}
.myfooter{
    height: 9% !important;
}

.primary-bk{
 background-color: #FF0103 !important;  
 color:#fff !important; 
}

.secondary-bk{
background-color: #E90560 !important;  
color:#fff !important; 
}

.accent-bk{
background-color: #FF8A00 !important;  
color:#fff !important; 
}

.tint-bk{
    background-color: #780131 !important;  
color:#fff !important;  
    }

.primary{
color: #FF0103 !important;  
}

.secondary{
color: #E90560 !important;  

}

.accent{
color: #FF8A00 !important;  
}


.tint{
    color: #780131 !important;  
    }
       
.shadow{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.304) !important;
    border-radius: 10px;
    margin-bottom: 5px;
}

.shadow-title{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.304) !important;
}


.navbar-title{
    font-size: 1em !important;
    font-weight: bold;
}

.bottom-btn{
    display: block !important;
    width: 100% !important;
    position: absolute;
    bottom: 0px;
}