<div class="container-fluid p-0 " [ngStyle]="{'height':heightWindows+'px'}">
    <!-- Pantalla de carga -->
    <div *ngIf="loading" class="row justify-content-center align-items-center background-new" [ngStyle]="{'height':heightWindows+'px'}">
        <div class="col-12 col-sm-6 text-center" >
            <img src="../../../assets/imgs/musle.jpg" alt="logo-fosil" width="100px" height="100px" class="mb-3">
            <h5 class="primary-bk">Loading, please wait...</h5>
        </div>
    </div>
    <!-- Presentacion de pantalla para iniciar la orden.-->
    <div *ngIf="!loading"  class="row justify-content-center background-image" [ngStyle]="{'height':heightWindows+'px','background-image': 'url('+mainBackground+')'}">
        <div class="col-12">
            
            <div class="container-fluid" >
                <div class="row mb-5">
                    <div class="col-12">
                        <div class="title-container text-center shadow-title">
                            <div class="image-logo-space background-image" style="background-image:url('../../../assets/imgs/Logo2.jpg');">

                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--div class="row align-items-end" [ngStyle]="{'height':heightWindows-420+'px'}">
                    <div class="col-12  align-self-end">
                        <button type="button" class="btn btn-lg btn-block primary-bk shadow p-3" (click)="newOrder()">
                            <img src="../../../assets/imgs/burrito2.svg" alt="" width="32px">
                             {{appDataService.labels['order.makemyburrito']}}
                         </button>
                    </div>
                </div-->
                <div class="row  align-items-end" [ngStyle]="{'height':heightWindows-300+'px'}">
                    <div class="col-6 pr-2">
                        <button type="button" class="btn btn-lg btn-block primary-bk btn-position shadow p-2" (click)="newOrder('cs-CZ')">
                            
                             <p class="button-choice-label">Vytvořit burrito</p>
                         </button>
                    </div>
                    <div class="col-6 pl-2">
                        <button type="button" class="btn btn-lg btn-block primary-bk btn-position shadow p-2" (click)="newOrder('en-US')">
                             <p class="button-choice-label"> 
                                Make my burrito
                             </p>
                         </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
