.background-new{
    background-color: #FF0103 !important; 
}

.background-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-logo-space{
    display: block;
    height: 90%;
    width: 90%;
    margin: auto;
}

.button-choice-label{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0px;
}

.title-container{
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 175px;
    padding-top:15px;
}

.btn-position{
    position: relative;
}